

# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# force include of windows linux mac android folder
!windows/box3d.lib
!linux/box3d.so
!macos/box3d.dylib
!android/box3d.so

*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch


# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

build/
imgui.ini
settings.ini
.vscode/
.vs/
.cap
.DS_Store
CMakeUserPresets.json
.cache/
.idea/
.claude/
.tmp/
.fetchcontent-cache/
build-dp/
*.b3rec


